/* li{
  margin: 20px 40px 20px 40px;
}
nav{
  padding: 20px 0px 20px 0px;
  background-color: blueviolet;
}
body{
  margin: 10px;
}
.navbar{
  display: flex;
  justify-content: flex-start;
  padding: 20px 40px;
}
ul{
  display:flex;
} */